<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:insert="~{fragments/header::head}"></div>
<div th:insert="~{fragments/header::header}"></div>

<body>
<div class="main-container">
  <div class="container center h-100-per">

    <form method="post" enctype="multipart/form-data" th:action="@{/upload}"
          id="file-upload-form">
      <label for="file-upload" class="noto-sans-kr">
        눌러서 공유하고 싶은 파일을 게시해주세요.
      </label>
      <input type="file" name="file-upload" id="file-upload" class="file-container" />

      <button class="file-upload-button noto-sans-kr"
              type="submit">게시하기</button>
    </form>

  </div>
</div>

<script>

</script>
</body>
</html>