<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:insert="~{fragments/header::header}"></div>

<body>
<div class="login-container">
    <img class="login-img" src=""/>
    <form class="flex vertical-center" id="login" method="post">
        <div class="m-10">
            <label class="m-10 roboto" for="uid">ID</label><br>
            <input type="text" id="uid" name="uid" class="m-10 noto-sans-kr"
                   value="" placeholder="아이디"
                   autocomplete="off"/><br>
            <label class="m-10 roboto" for="pwd">PASSWORD</label><br>
            <input type="password" id="pwd" name="pwd" class="m-10 noto-sans-kr"
                   value="" placeholder="비밀번호"
                   autocomplete="off"/><br>
            <button class="login-btn m-10 noto-sans-kr" id="main-login">로그인</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    let loginButton = document.getElementById('main-login');

    loginButton.addEventListener('click', function () {
        spinner.style.display = 'block';

        setTimeout(() => {
            spinner.style.display = 'none';
            loginButton.submit();
        }, 1000);
    });
</script>

</body>
</html>