<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:fragment="head">
        <title>저장소</title>

        <meta charset="UTF-8" />
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>

        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:site_name" content="storage-app">
        <meta property="og:description" content="파일 저장소">

        <link rel="favicon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/sidenav.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/folder.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/dialog.css" />

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"
                crossorigin="anonymous"></script>
    </head>

    <div th:fragment="header" class="flex-wrap">
        <div class="header-container">
            <div class="logo">
                <span class="roboto"></span>
            </div>

            <div class="flex center">
                <span class="">
                    <a class="main-name noto-sans-kr" href="/">이미지 저장소</a>
                </span>
            </div>

            <div class="left noto-sans-kr">
                <!-- <a class="header-a" id="logout">로그아웃</a> -->
                <!-- <a class="header-a" th:href="@{/login}" id="login">로그인</a> -->
            </div>

            <div id="spinner">
                <img src="/img/spinner.gif" alt="use spinner"/>
            </div>
        </div>
    </div>
</html>